<div class="container body-content">

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <div>
            @foreach (var column in ViewBag.columns)
            {
                @if (ViewBag.key == null)
                {
                    @if (column.Key == "all")
                    {
                        <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked />
                        <label for="@column.Key">@column.Value</label>
                    }
                    else
                    {
                        <input type="radio" name="searchType" id="@column.Key" value="@column.Key" />
                        <label for="@column.Key">@column.Value</label>
                    }
                }
                else
                {
                    @if (column.Key == ViewBag.key)
                    {
                        <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked />
                        <label for="@column.Key">@column.Value</label>
                    }
                    else
                    {
                        <input type="radio" name="searchType" id="@column.Key" value="@column.Key" />
                        <label for="@column.Key">@column.Value</label>
                    }
                }


            }

        </div>

        <div>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </div>

        <input type="submit" value="Search" />
    </form>

    <hr />

    @{
        //TODO #4: Loop over the search results to display all job fields.
    }
    

</div>